:root {
    --brand-color: #2196F3;
    --main-color: #E5E5E5;
    --footer-color: #2F303A;
    --text-color: #757575;
    --white-color: #fff;
    --title-color: #212121;
}

body {
    background-color: var(--white-color);
    margin: 0 auto;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: var(--title-color);
    letter-spacing: 0.03;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

a {
    color: #212121;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    text-decoration: none;
    margin: 0 auto;
}

.container {
    display: block;
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* ---header--- */
.header-section {
    height: 80px;
    margin: 0 auto;
}

.header-nav {
    display: inline-block;

    height: 80px;
}

.header-logo {
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    /* margin-right: 93px; */

    padding-top: 25px;
    padding-bottom: 24px;
}

.logo-link {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header-list {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
}

.header-link {
    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-link:hover,
.header-link:focus {
    color: #2196F3;
}

.header-contacts {
    display: inline-block;
    margin-left: 331px;
}

.header-item {
    display: inline-block;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.contacts-item {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
}

.contacts-item:not(:last-child) {
    margin-right: 50px;
}

.contacts-link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #757575;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #2196F3;
}


/*--hero--*/
.section.hero {
    width: 1600px;
    height: 600px;
    padding: 200px 0px;
    margin: 0 auto;

    text-align: center;

    background-color: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-color);
}

.hero-button {
    width: 200px;
    height: 50px;
    margin-top: 30px;

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    font-weight: 700;

    color: #FFFFFF;
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* --our features-- */

.feature-list {
    display: flex;
}

.feature-item {
    width: 270px;
}

.feature-item:not(:last-child) {
    margin-right: 30px;
}

.section-title {
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.feature-text {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--text-color);
}

/* --activity-- */

.section.activity {
    padding-top: 0px;
}

.activity-list {
    display: flex;
    justify-content: center;
}

.activity-item:not(:last-child) {
    margin-right: 30px;
}

/* --our projects-- */

/* --our team-- */

.section.team {
    padding-top: 0px;
    background: #F5F4FA;
}

.team-list {
    display: flex;
}

.team-item {
    width: 270px;
    height: 368px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.teammate-name {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    letter-spacing: 0.03em;

}

.teammate-position {
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    letter-spacing: 0.03em;
}

/* --footer-- */
.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
    height: 252px;
    background-color: #2F303A;
}

.footer.container {
    display: block;
}

.footer-link {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--white-color);
}

.footer-logo {
    color: var(--brand-color);
}

.footer-adress {
    margin-top: 20px;

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--white-color);
}

.footer-contacts {
    display: inline-block;
    margin-top: 9px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}